.profile {
    width: 150px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 30px ;
}

.about h1 {
    font-size: 2.5rem;
    margin-top: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.bio {
    max-width: 50rem;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.banner {
    width: 100%;
    height: 140px;
}