footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8em;
    width: 100%; 
    grid-area: footer; 
    height: auto;
    position: static;
}