header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 1rem 2rem;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.header-left {
    display:flex;
    align-items: center;
    gap:10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    margin-left: 50px;
    margin-right: 30px;
}

.brand-name {
    text-decoration: none;
    color: white;
}

.header-right {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-right: 4rem;
    padding: 0px;
}


.header-right a:hover {
    color: #9b9b9b;
}

.logo {
    height:30px;
    border-radius: 100%;
    padding: 0px;
    vertical-align: middle;
}