header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.header-left {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.header-right {
    max-width: 60%;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-right: 4rem;
    padding: 0px;
}


.header-right a:hover {
    color: #9b9b9b;
}