.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}

.project {
    background: #f4f4f4;
    color: #333;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.project:hover {
    outline: 2px solid #ffc400;
}

.project:focus {
    background-color: #07aff1;
    outline: none;
}

/* Pseudo-element */
.project h3::before {
    content: "★ ";
    color: #007bff;
}

.project1 {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.github {
    text-align: center;
    display: inline-block;
    height: auto;
    padding: 15px 70px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }

  .content {
    text-align: center;
  }