.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.project {
    background: #f4f4f4;
    color: #333;
    padding: 1rem; /* Reduced padding to adapt to dynamic sizes */
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    justify-content: center;
    align-items: center;
}

.project:hover {
    outline: 2px solid #ffc400;
}

.project:focus {
    background-color: #07aff1;
    outline: none;
}

/* Pseudo-element */
.project h3::before {
    content: "★ ";
    color: gold;
}

.project1 {
    max-width: 100%; /* Ensure the image scales inside the project */
    height: auto; /* Maintain aspect ratio */
}

h2 {
    text-align: center;
}