.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 100px;
    max-width: 800px;
    padding: 20px;
  }
  
  .services h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .services p {
    margin: 0;
    padding: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    line-height: 1.6;
  }
  
  .services ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .services ul li {
    margin-bottom: 10px; 
    padding-left: 20px; 
    position: relative;
  }
  
  .services ul li::before {
    content: "•"; 
    color: #4ea3ff; 
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  
  .services h3 {
    font-size: 1.5rem;
    color: #1988ff;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .services a {
    display: inline-block;
    height: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .services a:hover {
    background-color: #0056b3;
  }
  
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    width: 100%;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  
  .services-list ul {
    padding: 0;
  }
  

