.sidebar {
    grid-area: sidebar; 
    background: #333;
    padding: 1.5rem; 
    padding-top: 3px;
    height: auto; 
    width: auto; 
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative; 
  }



.skills {
    padding-bottom: 5px;
}

a[href^="mailto"] {
    text-decoration: underline;
}

.skills ul {
    padding-left: 10px;
}

.skills li {
    margin-top: 10px;
    margin-left: 20px;
}

.contact-info a {
    color: #ff6347;
}

.contact-info p,
a {
    padding-left: 10px;
}