.sidebar {
    grid-area: sidebar; /* Correctly place in grid */
    background: #333;
    padding: 1.5rem; /* Adjust as needed */
    height: auto; /* Allow the sidebar to expand with content */
    width: 100%; /* Occupy the full grid width */
    overflow-y: auto; /* Allow scrolling if content overflows */
    position: relative; /* Keep it in the document flow */
  }



.skills {
    padding-bottom: 5px;
}

a[href^="mailto"] {
    text-decoration: underline;
}

.skills ul {
    padding-left: 10px;
    list-style: none;
}

.skills ul > li {
    text-decoration:underline;
}

.skills li {
    margin-top: 10px;
}

.contact-info a {
    color: #ff6347;
}

.contact-info p,
a {
    padding-left: 10px;
}